<section id="contact" class="col-6 col-12-narrower">
    <header>
        <h2></h2>
        <h2><%=appAudit.reference.pageTitle %></h2>
        <p></p>
    </header>
    <% if(msg != ''){ %>
        <div class="col-12" id="save_auditreference">
            <p>
                <span class="successformtext"><%= msg %></span><br/>
            </p>
        </div>
    <% } %>    
    <% if(AuditErrors){ %>
    <div class="col-12" id="err_auditreference">
        <p>
            <% AuditErrors.forEach(function(error){ %>
                <span class="errformtext">* <%= error.msg %></span><br/>
            <% }) %>    
        </p>
    </div>
    <% } %>
    <form method="POST" action="/toolaudit/toolauditreference">
        <div class="row gtr-50">
            <div class="col-12">
                <input type="text" name="auditid" id="auditid" placeholder="<%=appAudit.reference.auditID %>" value="<%= AuditReference.AuditId %>" />
            </div>
            <div class="col-12">
                <input type="text" name="title" id="title" placeholder="<%=appAudit.reference.auditTitle %>" value="<%= AuditReference.Title %>" />
            </div>
            <div class="col-12">
                <textarea name="background" id="background" placeholder="<%=appAudit.reference.auditBackground %>" rows="5"><%= AuditReference.Background %></textarea>
            </div>
            <div class="col-12">
                <textarea name="scope" id="scope" placeholder="<%=appAudit.reference.auditScope %>" rows="5"><%= AuditReference.Scope %></textarea>
            </div>
            <div class="col-12">
                <textarea name="auditscope" id="auditscope" placeholder="<%=appAudit.reference.scope %>" rows="5"><%= AuditReference.AuditScope %></textarea>
            </div>
            <div class="col-12">
                <textarea name="auditapproach" id="auditapproach" placeholder="<%=appAudit.reference.approach %>" rows="5"><%= AuditReference.AuditApproach %></textarea>
            </div>
            <div class="col-12">
                <ul class="actions">
                    <% if (source === "map") { %>
                        <li><a href="/analytics/AuditMap" class="button"><%=appButtons.close.name %></a></li>
                    <% } %>
                    <li><input type="submit" class="button alt" value="<%=appButtons.save.name %>" /></li>
                </ul>
            </div>
        </div>
    </form>
</section>
